
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FontAwesome Link -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

%%PAGE_CSS_LINK%%


<title>%%TAB_TITLE%%</title>
</head>
<body>
  <nav class="nav">
    <a href="#" class="nav__link">
      <i class="nav__icon fa-solid fa-house"></i>
      <span class="nav__text">Home</span>
    </a>

      <a href="#" class="nav__icon nav__link nav__link--active">
        <i class="fa-solid fa-users"></i>
        <span class="nav__text">Medlemmere</span>
      </a>
      <a href="#" class="nav__link">
        <i class="nav__icon fa-solid fa-cross"></i>
        <span class="nav__text">Bedemænd</span>
      </a>
      <a href="#" class="nav__link">
        <i class="nav__icon fa-solid fa-gears"></i>
        <span class="nav__text">Settings</span>
      </a>
      <a href="#" class="nav__link">
        <i class="nav__icon fa-solid fa-right-from-bracket"></i>
        <span class="nav__text">Logout</span>
      </a>
  </nav>
</body>
</html>
 

